.button1
{
-fx-background-color : #212426;
}
.button1:pressed
{
-fx-background-color : #111316;
-fx-border-color: #337ffe;
}
.button1:focused
{
-fx-background-color : #34373a;
-fx-border-color: #337ffe ;
-fx-border-width: 0 0 0 4; 
}
.button2
{
-fx-background-color : #1a1d20;
}
.button2:hover
{
-fx-background-color : #34373a ;
}
.button2:pressed
{
-fx-background-color : #34373a ;
}

.button3
{
    -fx-background-color : #212426;
}
.button3:hover
{
    -fx-background-color : #0d1f3f ;
}
.button3:pressed
{
    -fx-background-color : #15366b ;
    
}

.button4
{
    -fx-background-color : #337ffe;
    -fx-border-width: 2; 
    -fx-border-color: #337ffe;
    -fx-border-radius: 3;
}
.button4:hover
{
    -fx-background-color : #2966cc ;
    -fx-border-width: 2; 
    -fx-border-color: #2966cc;
}
.button4:pressed
{
    -fx-background-color : #1f4c99 ;
    -fx-border-width: 2; 
    -fx-border-color: #1f4c99;
}

.TextField
{
    -fx-text-fill : #eff1f9;
}


.scroll-pane {
    -fx-background-color: #111111;
}

.scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #337ffe;
    /*-fx-background-radius: 5em;*/
}

.scroll-pane > .corner {
    -fx-background-color: #111111;
}
